*{margin: 0;padding: 0}
body{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(2px)
}

.background>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}

.box-login{
    background: rgba(0,0,0,.7);
    height: 400px;
    width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
}

.box-login>.info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box-login>.info>.box{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.box-login>.info>.box>div{
    width: 70%;
}

.box-login>.info>.box>div h1{
    font-size: 1.6em;
    margin-bottom: 10px;
}

.box-login>.info>.box>div p {
    font-size: .9em;
    margin-bottom: 10px;
    color: rgba(255,255,255,.7)
}


.box-login>.info>.box .btn{
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    max-width: 100px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease .5s;
}

.box-login>.info>.box .btn:hover{
    border: 2px solid black;
    background: black;
}

.content-alert{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
}

.content-alert>.alert-box{
    flex: 1 1 0;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    min-width: 500px;
    max-width: 500px;
    flex-direction: column;
}

.alert-login{
    flex-direction: flex-end;
    position: relative;
    overflow: hidden;
}

.alert{
    width: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    background: white;
    position: absolute;
    top: -40px;
    left: 0;
    transition: all ease .5s;
}

.alert>.img{
    width: 40px;
    height: 40px;
}

.alert>.img>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.alert>.txt{
    color: rgba(0,0,0,.6);
    margin-left: 5px;
    font-size: .9em;
    flex: 1 1 0;
}

.alert>.bar{
    width: 45px;
    height: 40px;
    background: red
}

.error{
    color: white;
}

.content{
    background: white;
    width: 500px;
    height: 110%;
    display: flex;
    position: absolute;
    transition: all ease .5s;
    left: 460px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    overflow: hidden;
}

.content>.content-box{
    position: relative;
    width: 500px;
    min-width: 500px;
    height: 100%;
    transition: all .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.content>.content-box>.form-group{
    display: flex;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.content>.content-box>.form-group>h1{
    color: hsla(214, 100%, 51%, 0.63);
}

.content>.content-box>.form-group>.box-input{
    width: 100%;
}

.content>.content-box>.form-group>.box-input>.column{
    display: flex;
    width: 100%;
}

.content>.content-box>.form-group>.box-input>.column>input{
    flex: 1 1 auto;
    border: none;
    font-size: .9em;
    box-sizing: border-box;
    padding: 0 5px;
}

.content>.content-box>.form-group>.box-input>.column>input:focus{
    outline: 0px;
}

.content>.content-box>.form-group>.box-input>.column>img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.content>.content-box>.form-group>.box-input>.column>.bar{
    height: 2px;
    width: 100%;
    background: hsla(214, 100%, 51%, 0.63);
    margin-top: 5px;
    transition:  all ease .5s;
}

.form-group-title{
    margin-bottom: 30px;
}

.content-btn{
    font-size: .9em; 
    display: flex;
}

.content-btn>.info{
    flex: 1 1 auto;
    color: rgba(0,0,0,.6);
}

.content-btn>.info>div{
    cursor: pointer;
}

.content-btn>.info>div:hover{
    text-decoration: underline;
}

.content-btn .submit{
    cursor: pointer;
    background: hsla(214, 100%, 51%, 0.63);
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: all ease .5s;
}

.content-btn .submit:hover{
    background: hsl(214, 100%, 51%);
}

.content-register{
    left: -500px;
}

.content-login{
    left: -500px;
}

/*******************************
ANIMATION
*******************************/
.animation-left-minus{
    animation: .5s animationMinus forwards;
}

.animation-left-plus{
    animation: .5s animationPlus forwards;
}

@keyframes animationMinus{
    0%{
        left: 460px;
    }

    50%{
        left: 40px;
    }

    75%{
        left: 50px;
    }

    100%{
        left: 40px;
    }
}

@keyframes animationPlus{
    0%{
        left: 40px;
    }

    50%{
        left: 460px;
    }

    75%{
        left: 450px;
    }

    100%{
        left: 460px;
    }
}
